$cardWidth: 60%;
$cardHeight: 55%;
$cardTop: 22%;
$cardLeft: 20%;
$cardWidthMobile: 80%;
$cardHeightMobile: 70%;
$cardTopMobile: 15%;
$cardLeftMobile: 10%;
$cardBorderRadius: 20px;

$BackgroundFirstColor: white;
$BackgroundSecondColor: black;
$cardFirstColor: #090400;
$cardSecondColor: white;

$cardTextFirstColor: #323840;
$cardTextSecondColor: black;